<!DOCTYPE html>
<html>
  <% include partials/template/head.ejs %>
  <body>
    <% include partials/template/header.ejs %>
    <% include partials/content/form-connection.ejs %>
  </body>
</html>
