<!DOCTYPE html>
<html>
  <% include partials/template/head.ejs %>
  <body>
    <%if(!userData){%>
      <% include partials/content/form-connection.ejs %>
    <%}else{%>
      <%=userData.pseudo_client%>
    <%}%>
  </body>
</html>
